@import 'tailwindcss';

@theme {
  --shadow-stripe:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  --color-cold-light-grey: #dde6ed;
  --color-cold-dark-grey: #9db2bf;
  --color-cold-light-blue: #526d82;
  --color-cold-dark-blue: #27374d;

  --font-Satoshi: Satoshi, sans-serif;
  --font-Switzer: Switzer, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face{
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Variable.woff2');
}

@font-face{
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Variable.woff2');
}
